{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>Your Forecast!</title>

      <link rel="stylesheet" href="{% static 'weather/style.css' %}" />

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <div class="block2">
    <div class="container">
        <div class="row">
            <div class="column">
                В городе {{ name }} сейчас {{ temp }} °C,
                Влажность около {{ humidity }}%.
                {% if rain %}
                    Идет дождь.
                {% else %}
                    Нет дождя.
                {% endif %}
                {% if snow %}
                    Идет снег.
                {% else %}
                    Нет снега.
                {% endif %}
            </div>
        </div>
    </div>
  </div>
  </head>
  <body>


  </body>
</html>