{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'weather/style.css' %}" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <title>Weather</title>



</head>
<body>
    <div class="block1">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h3>
                        Введите название своего города, например: Minsk,BY или London,GB
                    </h3>
                    <form method="POST" class="post-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="save btn btn-default">OK</button>
                        </form>
                        {% if exception %}
                        <h4>Нет такого города.</h4>
                        <h4>Попробуйте снова.</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



    <div class="block3">
        <ul>
            <h3>
                <li>
                   <a href="#" onClick="document.getElementById('id_city').value = 'Minsk,BY'">Узнайте погоду в Минске</a>
                </li><p></p>
                <li>
                   <a href="#" onClick="document.getElementById('id_city').value = 'Brest,BY'">Узнайте погоду в Бресте</a>
                </li><p></p>
                <li>
                   <a href="#" onClick="document.getElementById('id_city').value = 'Vitebsk,BY'">Узнайте погоду в Витебске</a>
                </li><p></p>
                <li>
                   <a href="#" onClick="document.getElementById('id_city').value = 'Moscow,RU'">Узнайте погоду в Москве</a>
                </li><p></p>
                <li>
                   <a href="#" onClick="document.getElementById('id_city').value = 'Paris,FR'">Узнайте погоду в Париже</a>
                </li><p></p>
                <li>
                   <a href="#" onClick="document.getElementById('id_city').value = 'Rio de Janeiro,BR'">Узнайте погоду в Рио де Жанейро</a>
                </li>
            </h3>
        </ul>
    </div>


</body>

</html>